<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table class="table table-striped">

      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>

      <tbody>
        <h2>Our Barbers</h2>
          <% @barbers.each do |barber|%>
            <tr>
              <td><a href="/barber/<%= barber.nickname %>"><%= barber.name %></a>
            </tr>
          <% end %>
        </tbody>

  </table>
  </body>
</html>
